@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1, h2 {
    font-family: "Lora", Impact, Serif;
}

h1 a:hover {
    color: #666;
}

h1 a:active {
    color: #666;
}

main {
    font-family: Helvetica, Arial, Sans-Serif;
    color: #333;
    display: grid;
    grid-template-columns: 1;
}

nav {
    border-bottom: solid #d0d0d0;
    border-top: solid #d0d0d0;
    text-transform: uppercase;
    display: flex;
    text-align: center;
}

nav ul {
    list-style: none;
}

a {
    color: #666;
    font-family: "Lora", Impact, Serif;
    text-decoration: none;
}

a:hover {
    color: #00ddff;
}

a:active {
    color: #DEB887;
}

.post-date {

}

.post-content {
    border-bottom: solid #d0d0d0;
}

@media screen and (min-width: 800px) {
    /* main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    } */

    article {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .post-date {
        grid-column: 1;
    }

    article .post-content {
        grid-column: 2;
    }
}